
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/users.css' />
  <link rel='stylesheet' href='/stylesheets/loginPage.css' />

</head>
<body>
  <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Food Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
                <button type="button" id="new_food_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newEntry';">New Manual Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_search_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/search';">New Search Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_fav_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/favorites';">New Entry From Favorites</button>
            </li>
            <li>
                <button type="button" id="new_exercise_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newExerciseEntry';">New Exercise Entry</button>
            </li>
            <li class="active">
                <button type="button" id="calculator_button" class="btn btn-action navbar-btn" onclick="location.href='/calculator';">Calorie Calculator</button>
            </li>
            <li class="active">
                <button type="button" id="history_button" class="btn btn-action navbar-btn" onclick="location.href='/history';">History</button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/edit">Edit</a></li>
                <li><a href="/public/<%= username %>">Public View</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
    <div class="content">
      <div class="row">
        <div id="edit-form" class='col-sm-offset-4 col-sm-4'>
          <div>

            <h2 id ="header">Calculate macronutrient calories from percentage of total calories</h2>
            <%if (error === 'Percentages must be integers adding to 100' || error === 'Percentages must add up to 100') { %>
            <font color="red"><%= error %></font><p>
            <% } %>
            <form action="/calculator" method="post">
              <fieldset>
                <div class="form-group">
                  <label for='calories'>Total Amount of calories:</label>
                  <input class = "form-control" id="calories" type="text" name="calories">
                </div>
                <div class="form-group">
                  <label for='carbs'>Percentage of Carbs:</label>
                  <input class = "form-control" id="carbsPercent" type="text" name="carbsPercent" >
                </div>
                <div class="form-group">
                  <label for='protein'>Percentage of Protein:</label>
                  <input class = "form-control" id="proteinPercent" type="text" name="proteinPercent" >
                </div>
                <div class="form-group">
                  <label for='fat'> Percentage of Fat:</label>
                  <input class = "form-control" id="fatPercent" type="text" name="fatPercent">
                </div>
                <button class="btn primary" type="submit">Calculate</button>
              </fieldset>
            </form>
            <p></p>

          </div>
          <% if (displayCalorieResults) { %>
              <form action="/calculator/submit" method="post">
                <fieldset>
                  <div class="form-group">
                    <label for='carbs'>Calories from Carbs:</label>
                    <input class = "form-control" id="carbs" type="text" name="carbs" value= <%= carbs %> >
                  </div>
                  <div class="form-group">
                    <label for='protein'>Calories from Protein:</label>
                    <input class = "form-control" id="protein" type="text" name="protein"  value= <%= protein %>>
                  </div>
                  <div class="form-group">
                    <label for='fat'> Calories from Fat:</label>
                    <input class = "form-control" id="fat" type="text" name="fat" value= <%= fat %>>
                  </div>
                  <button class="btn primary" type="submit">Update current goals</button>
                </fieldset>
              </form>
              <p></p>
            <% } %>
        </div>
        <div id="edit-form" class='col-sm-offset-4 col-sm-4'>
          <div>

            <h2 id ="header">Calculate calories from grams</h2>
            <%if (error === 'Grams must be integers') { %>
            <font color="red"><%= error %></font><p>
            <% } %>
            <form action="/calculator" method="post">
              <fieldset>
                <div class="form-group">
                  <label for='carbs'>Grams of Carbs:</label>
                  <input class = "form-control" id="carbsGrams" type="text" name="carbsGrams" >
                </div>
                <div class="form-group">
                  <label for='protein'>Grams of Protein:</label>
                  <input class = "form-control" id="proteinGrams" type="text" name="proteinGrams" >
                </div>
                <div class="form-group">
                  <label for='fat'>Grams of Fat:</label>
                  <input class = "form-control" id="fatGrams" type="text" name="fatGrams">
                </div>
                <button class="btn primary" type="submit">Calculate</button>
              </fieldset>
            </form>
            <p></p>

          </div>
          <% if (displayGramResults) { %>
              <form action="/calculator/submit" method="post">
                <fieldset>
                  <div class="form-group">
                    <label for='carbs'>Grams of Carbs:</label>
                    <input class = "form-control" id="carbs" type="text" name="carbs" value= <%= carbs %> >
                  </div>
                  <div class="form-group">
                    <label for='protein'>Grams of Protein:</label>
                    <input class = "form-control" id="protein" type="text" name="protein"  value= <%= protein %>>
                  </div>
                  <div class="form-group">
                    <label for='fat'>Grams of Fat:</label>
                    <input class = "form-control" id="fat" type="text" name="fat" value= <%= fat %>>
                  </div>
                </fieldset>
              </form>
              <p></p>
            <% } %>
        </div>
        <div id="edit-form" class='col-sm-offset-4 col-sm-4'>
          <div>

            <h2 id ="header">Calculate total grams from grams per lb. bodyweight</h2>
            <%if (error === 'Grams per lb must be non-negative numbers') { %>
            <font color="red"><%= error %></font><p>
            <% } %>
            <form action="/calculator" method="post">
              <fieldset>
                <div class="form-group">
                  <label for='carbs'>Bodyweight:</label>
                  <input class = "form-control" id="bodyweight" type="text" name="bodyweight" >
                </div>
                <div class="form-group">
                  <label for='carbs'>Grams of Carbs per lb bodyweight:</label>
                  <input class = "form-control" id="carbsGramsPerLb" type="text" name="carbsGramsPerLb" >
                </div>
                <div class="form-group">
                  <label for='protein'>Grams of Protein per lb bodyweight:</label>
                  <input class = "form-control" id="proteinGramsPerLb" type="text" name="proteinGramsPerLb" >
                </div>
                <div class="form-group">
                  <label for='fat'>Grams of Fat per lb bodyweight:</label>
                  <input class = "form-control" id="fatGramsPerLb" type="text" name="fatGramsPerLb">
                </div>
                <button class="btn primary" type="submit">Calculate</button>
              </fieldset>
            </form>
            <p></p>

          </div>
          <% if (displayGramPerLbResults) { %>
              <form action="/calculator/submit" method="post">
                <fieldset>
                  <div class="form-group">
                    <label for='carbs'>Grams of Carbs:</label>
                    <input class = "form-control" id="carbs" type="text" name="carbs" value= <%= carbs %> >
                  </div>
                  <div class="form-group">
                    <label for='protein'>Grams of Protein:</label>
                    <input class = "form-control" id="protein" type="text" name="protein"  value= <%= protein %>>
                  </div>
                  <div class="form-group">
                    <label for='fat'>Grams of Fat:</label>
                    <input class = "form-control" id="fat" type="text" name="fat" value= <%= fat %>>
                  </div>
                </fieldset>
              </form>
              <p></p>
            <% } %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
