<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/newEntryPage.css' />
  <link rel='stylesheet' href='/stylesheets/users.css' />
    <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include bootstrap JS from CDN-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="header-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Food Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
                <button type="button" id="new_food_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newEntry';">New Manual Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_search_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/search';">New Search Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_fav_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/favorites';">New Entry From Favorites</button>
            </li>
            <li>
                <button type="button" id="new_exercise_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newExerciseEntry';">New Exercise Entry</button>
            </li>
            <li class="active">
                <button type="button" id="calculator_button" class="btn btn-action navbar-btn" onclick="location.href='/calculator';">Calorie Calculator</button>
            </li>
            <li class="active">
                <button type="button" id="history_button" class="btn btn-action navbar-btn" onclick="location.href='/history';">History</button>
            </li>
            <li class="active">
                <button type="button" id="weight_button" class="btn btn-action navbar-btn" onclick="location.href='/weight';">Weight</button>
            </li>
            <li class="active">
              <form action="/users" method="post">
                <button class="btn btn-action navbar-btn" type="submit">Download History</button>
            </form>

            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/edit">Edit</a></li>
                <li><a href="/public/<%= username %>">Public View</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="form-container">
    <div class="content">
      <div class="row">
        <div id="edit-form" class='col-sm-offset-4 col-sm-4'>
          <div>
            <h2 id ="header">Edit Goals</h2>
            <%if (error) { %>
            <font color="red"><%= error %></font><p>
            <% } %>
            <form action="/edit" method="post">
              <fieldset>
                <div class="form-group">
                  <label for='carbs'>Carbs:</label>
                  <input class = "form-control" id="carbs" type="text" name="carbs" value= <%= carbs %>>
                </div>
                <div class="form-group">
                  <label for='protein'>Protein:</label>
                  <input class = "form-control" id="protein" type="text" name="protein" value= <%= protein %>>
                </div>
                <div class="form-group">
                  <label for='fat'>Fat:</label>
                  <input class = "form-control" id="fat" type="text" name="fat" value= <%= fat %>>
                </div>
                <div class="form-group">
                  <label for='phone'>Phone Number: (numbers only)</label>
                  <input class = "form-control" id="phonenumber" type="text" name="phonenumber" value= <%= phoneNumber %>>
                </div>
                <%if (goals == 1) { %>
                  <div class="form-group">
                    <label for="goals">Goals are public: </label>
                    <input class = "form-control" id="goals" type="checkbox" name="goals", checked="checked">
                  </div>
                <% } else { %>
                  <div class="form-group">
                    <label for="goals">Goals are public: </label>
                    <input class = "form-control" id="goals" type="checkbox" name="goals" >
                  </div>
                <% } %>

                <%if (food == 1) { %>
                  <div class="form-group">
                    <label for="food">Food consumed is public: </label>
                    <input class = "form-control" id="food" type="checkbox" name="food", checked="checked">
                  </div>
                <% } else { %>
                  <div class="form-group">
                    <label for="food">Food consumed is public:</label>
                    <input class = "form-control" id="food" type="checkbox" name="food" >
                  </div>
                <% } %>
                <div class="item-centered">
                  <button class="btn btn-submit" type="submit">Update</button>
                </div>

              </fieldset>
            </form>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
