<!DOCTYPE html>
<html>
  <head>
    <title>Favorites</title>
        <!--  Include bootstrap from CDN-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!--  Custom Style sheets -->
        <link rel='stylesheet' href='/stylesheets/globalStyle.css' />
        <link rel="stylesheet" href="/stylesheets/users.css">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Parsley -->
        <script src='/javascripts/parsley.js'></script>
        <!-- Include bootstrap JS from CDN-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

 <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="header-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Food Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
                <button type="button" id="new_food_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newEntry';">New Manual Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_search_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/search';">New Search Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_fav_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/favorites';">New Entry From Favorites</button>
            </li>
            <li>
                <button type="button" id="new_exercise_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newExerciseEntry';">New Exercise Entry</button>
            </li>
            <li class="active">
                <button type="button" id="calculator_button" class="btn btn-action navbar-btn" onclick="location.href='/calculator';">Calorie Calculator</button>
            </li>
            <li class="active">
                <button type="button" id="history_button" class="btn btn-action navbar-btn" onclick="location.href='/history';">History</button>
            </li>
            <li class="active">
                <button type="button" id="weight_button" class="btn btn-primary navbar-btn" onclick="location.href='/weight';">Weight</button>
            </li>
            <li class="active">
              <form action="/users" method="post">
                <button class="btn btn-primary navbar-btn" type="submit">Download History</button>
            </form>

            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/edit">Edit</a></li>
                <li><a href="/public/<%= username %>">Public View</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

      <div class="col-sm-10 col-sm-offset-1">
        <!-- search results -->
        <% if(rows) { %>
          <h4>Favorites</h4>
          <table class="table table-striped">
			          <tr>
			            <th>Food</th>
			            <th>Carbs</th>
			            <th>Fat</th>
			            <th>Protein</th>
			            <th>Servings</th>
			            <th>Unit</th>
			            <th>Meal</th>
			            <th>Submit</th>
			          </tr>
            <% for (var i = 0; i < rows.length; i++) { %>
              <tr>
                <form action='/favorites' method='post' id="search_form<%= i %>" data-parsley-validate>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= rows[i].name %>" name="name">
                  </td>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= rows[i].carbs %>" name="carbs">
                  </td>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= rows[i].fat %>" name="fat">
                  </td>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= rows[i].protein %>" name="protein">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="ss_input<%= i %>" value="<%= rows[i].serving %>" name="serving" data-parsley-type="integer" min="1" max="100">
                  </td>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= rows[i].unit %>" name="unit">
                  </td>
                  <td>
                    <select class="form-control" id="meal_choice" name="meal_choice">
                        <option>Breakfast</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                        <option>Snack</option>
                    </select>
                  </td>
                  <td>
                    <button class="btn primary" type="submit">Submit</button>
                  </td>
                </form>

                <script>
                  $(function () {
                    $('#search_form<%= i %>').parsley()
                    .on('form:submit', function() {
                      $('#ss_input<%= i %>').parsley().validate();
                      if ($('#ss_input<%= i %>').parsley().isValid()) {
                        return true;
                      } else {
                        return false;
                      }
                    });
                  });
                </script>

              </tr>
            <% } %>
          </table>
        <% }%>
      </div>


</html>
