<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Logged in user <%= username %></p>
  </body>
  <div>
  	<p>
       <a href = "/edit">Edit</a>
       <a href = "/public/<%= username %>" >View Public Profile</a>
    </p>
  </div>
</html>
