<!DOCTYPE html>
<html>
  <head>
    <title>User Page</title>
        <!--  Include bootstrap from CDN-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- JQuery -->
        <script src="/javascripts/jquery-1.12.2.min.js"></script>
        <!-- Parsley -->
        <script src='/javascripts/parsley.js'></script>
        <!-- Include bootstrap JS from CDN-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="alert alert-success alert-dismissable" id="meal_logged">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Great job! Keep logging your meals.
    </div>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Food Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
                <button type="button" id="new_food_entry_button" class="btn btn-primary navbar-btn" onclick="location.href='/newEntry';">New Manual Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_search_entry_button" class="btn btn-primary navbar-btn" onclick="location.href='/search';">New Search Entry</button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/edit">Edit</a></li>
                <li><a href="/public/<%= username %>">Public View</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Show "analytics" - currently just remaining goals -->

    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!-- search bar -->
        <form class="navbar-form navbar-left" role="search" action="/search" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="searchTerm">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!-- search results -->
        <% if(searchTerm) { %>
          <h1> Searching for: <%= searchTerm %><h1>
        <% }%>
      </div>
    </div>

     <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <!-- search results -->
        <% if(searchResultsArr) { %>
          <h4>Results</h4>
          <table class="table table-striped">
            <tr>
              <th>Name</th>
              <th>Calories</th>
              <th>Carbs</th>
              <th>Fat</th>
              <th>Protein</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th>Meal</th>
              <th>Submit</th>
            </tr>
            <% for (var i = 0; i < searchResultsArr.length; i++) { %>
              <tr>
                <form action='/search/submit' method='post' id="search_form<%= i %>" data-parsley-validate>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= searchResultsArr[i].fields.item_name %>" name="item_name">
                  </td>
                  <td>
<<<<<<< HEAD
                    <input type="text" class="form-control" id="calories_input" value="<%= searchResultsArr[i].fields.nf_calories %>" name="nf_calories">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="carbs_input" value="<%= searchResultsArr[i].fields.nf_total_carbohydrate %>" name="nf_total_carbohydrate">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="fat_input" value="<%= searchResultsArr[i].fields.nf_total_fat %>" name="nf_total_fat">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="protein_input" value="<%= searchResultsArr[i].fields.nf_protein %>" name="nf_protein">
=======
                    <input readonly type="text" class="form-control" id="food_input" value="<%= searchResultsArr[i].fields.nf_calories %>" name="nf_calories">
                  </td>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= searchResultsArr[i].fields.nf_total_carbohydrate %>" name="nf_total_carbohydrate">
                  </td>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= searchResultsArr[i].fields.nf_total_fat %>" name="nf_total_fat">
                  </td>
                  <td>
                    <input readonly type="text" class="form-control" id="food_input" value="<%= searchResultsArr[i].fields.nf_protein %>" name="nf_protein">
>>>>>>> 679a0d43bb2b450c4740546d5efc2f7ff472d423
                  </td>
                  <td>
                    <input type="text" class="form-control" id="ss_input<%= i %>" value="<%= searchResultsArr[i].fields.nf_serving_size_qty %>" name="nf_serving_size_qty" data-parsley-type="integer" min="1" max="100">
                  </td>
                  <td>
<<<<<<< HEAD
                    <input type="text" class="form-control" id="ssu_input" value="<%= searchResultsArr[i].fields.nf_serving_size_unit %>" name="nf_serving_size_unit">
=======
                    <input readonly type="text" class="form-control" id="food_input" value="<%= searchResultsArr[i].fields.nf_serving_size_unit %>" name="nf_serving_size_unit">
>>>>>>> 679a0d43bb2b450c4740546d5efc2f7ff472d423
                  </td>
                  <td>
                    <select class="form-control" id="meal_choice" name="meal_choice">
                        <option>Breakfast</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                        <option>Snack</option>
                    </select>
                  </td>
                  <td>
                    <button class="btn primary" type="submit">Submit</button>
                  </td>
                </form>

                <script>
                  $(function () {
                    $('#search_form<%= i %>').parsley()
                    .on('form:submit', function() {
                      $('#ss_input<%= i %>').parsley().validate();
                      if ($('#ss_input<%= i %>').parsley().isValid()) {
                        return true;
                      } else {
                        return false;
                      }
                    });
                  });
                </script>

              </tr>
            <% } %>
          </table>
        <% }%>
      </div>
    </div>


    </div> <!-- container fluid -->

    <script src="../javascripts/userVis.js"></script>

  </body>
</html>
