<!DOCTYPE html>
<html>
  <head>
    <title>User Page</title>
        <!--  Include bootstrap from CDN-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- JQuery -->
        <script src="/javascripts/jquery-1.12.2.min.js"></script>

        <!-- Include bootstrap JS from CDN-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <link rel='stylesheet' href='/stylesheets/globalStyle.css' />
        <link rel="stylesheet" href="/stylesheets/datepicker.css">
        <link rel="stylesheet" href="/stylesheets/users.css">

        <script src="/javascripts/bootstrap-datepicker.js"></script>
        <script src="../javascripts/pt.min.js"></script>
        <script src="/javascripts/users.js"></script>
  </head>

  <body>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="header-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Food Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
                <button type="button" id="new_food_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newEntry';">New Manual Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_search_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/search';">New Search Entry</button>
            </li>
            <li class="active">
                <button type="button" id="new_fav_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/favorites';">New Entry From Favorites</button>
            </li>
            <li>
                <button type="button" id="new_exercise_entry_button" class="btn btn-action navbar-btn" onclick="location.href='/newExerciseEntry';">New Exercise Entry</button>
            </li>
            <li class="active">
                <button type="button" id="calculator_button" class="btn btn-action navbar-btn" onclick="location.href='/calculator';">Calorie Calculator</button>
            </li>
            <li class="active">
                <button type="button" id="history_button" class="btn btn-action navbar-btn" onclick="location.href='/history';">History</button>
            </li>
            <li class="active">
                <button type="button" id="weight_button" class="btn btn-primary navbar-btn" onclick="location.href='/weight';">Weight</button>
            </li>
            <li class="active">
              <form action="/users" method="post">
                <button class="btn btn-primary navbar-btn" type="submit">Download History</button>
            </form>

            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/edit">Edit</a></li>
                <li><a href="/public/<%= username %>">Public View</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <form class="navbar-form navbar-left" action="/users/date" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="date" id="datepicker">
            </div>
            <button type="submit" class="btn btn-submit">Go</button>
          </form>
        </div>
        </div>
      </div>

  <script src='/javascripts/resolveLoginCredentialsFacebook.js'></script>

  </div>
      <div class="row">
          <div class="col-sm-4">
              <h3 align="center">Carbs Remaining: <%= carbs %><h3>
          </div>
          <div class="col-sm-4">
              <h3 align="center">Fat Remaining: <%= fat %><h3>
          </div>
          <div class="col-sm-4">
              <h3 align="center">Protein Remaining: <%= protein %><h3>
          </div>
      </div>
      <div class="row">
          <h3 align = "center", id = "share_button">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://group10fitness.com" data-text="I have <%= calories %> calories left to eat today">Tweet</a>
            <script>!function(d,s,id){
              var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location)? 'http' : 'https';
                if(!d.getElementById(id)){
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + '://platform.twitter.com/widgets.js';
                  fjs.parentNode.insertBefore(js,fjs);
                }
              }
              (document, 'script', 'twitter-wjs');
            </script>
          </h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h4>Breakfast</h4>
          <table class="table table-striped">
            <tr>
              <th>Food</th>
              <th>Measurement</th>
              <th>Quantity</th>
              <th>Carbs</th>
              <th>Fat</th>
              <th>Protein</th>
              <th></th>
            </tr>
            <% for (var i = 0; i < entry.breakfast.length; i++) { %>
              <tr>
                <td><%= entry.breakfast[i].food %></td>
                <td><%= entry.breakfast[i].quantity_meas %></td>
                <td><%= entry.breakfast[i].quantity %></td>
                <td><%= entry.breakfast[i].carbs %></td>
                <td><%= entry.breakfast[i].fat %></td>
                <td><%= entry.breakfast[i].protein %></td>
                <% if (entry.breakfast[i].url) { %>
                  <td><img src=<%=entry.breakfast[i].url%> height="75" width="75"></td>
                <% } %>
                <% else { %>
                  <td></td>
                <% } %>
              </tr>
            <% } %>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h4>Lunch</h4>
          <table class="table table-striped">
            <tr>
              <th>Food</th>
              <th>Measurement</th>
              <th>Quantity</th>
              <th>Carbs</th>
              <th>Fat</th>
              <th>Protein</th>
            </tr>
            <% for (var i = 0; i < entry.lunch.length; i++) { %>
              <tr>
                <td><%= entry.lunch[i].food %></td>
                <td><%= entry.lunch[i].quantity_meas %></td>
                <td><%= entry.lunch[i].quantity %></td>
                <td><%= entry.lunch[i].carbs %></td>
                <td><%= entry.lunch[i].fat %></td>
                <td><%= entry.lunch[i].protein %></td>
                <% if (entry.breakfast[i].url) { %>
                  <td><img src=<%=entry.breakfast[i].url%> height="75" width="75"></td>
                <% } %>
                <% else { %>
                  <td></td>
                <% } %>
              </tr>
            <% } %>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h4>Dinner</h4>
          <table class="table table-striped">
            <tr>
              <th>Food</th>
              <th>Measurement</th>
              <th>Quantity</th>
              <th>Carbs</th>
              <th>Fat</th>
              <th>Protein</th>
            </tr>
            <% for (var i = 0; i < entry.dinner.length; i++) { %>
              <tr>
                <td><%= entry.dinner[i].food %></td>
                <td><%= entry.dinner[i].quantity_meas %></td>
                <td><%= entry.dinner[i].quantity %></td>
                <td><%= entry.dinner[i].carbs %></td>
                <td><%= entry.dinner[i].fat %></td>
                <td><%= entry.dinner[i].protein %></td>
                <% if (entry.breakfast[i].url) { %>
                  <td><img src=<%=entry.breakfast[i].url%> height="75" width="75"></td>
                <% } %>
                <% else { %>
                  <td></td>
              </tr>
            <% } %>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h4>Snack</h4>
          <table class="table table-striped">
            <tr>
              <th>Food</th>
              <th>Measurement</th>
              <th>Quantity</th>
              <th>Carbs</th>
              <th>Fat</th>
              <th>Protein</th>
            </tr>
            <% for (var i = 0; i < entry.snack.length; i++) { %>
              <tr>
                <td><%= entry.snack[i].food %></td>
                <td><%= entry.snack[i].quantity_meas %></td>
                <td><%= entry.snack[i].quantity %></td>
                <td><%= entry.snack[i].carbs %></td>
                <td><%= entry.snack[i].fat %></td>
                <td><%= entry.snack[i].protein %></td>
                <% if (entry.breakfast[i].url) { %>
                  <td><img src=<%=entry.breakfast[i].url%> height="75" width="75"></td>
                <% } %>
                <% else { %>
                  <td></td>
              </tr>
            <% } %>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h4>Exercise</h4>
          <table class="table table-striped">
            <tr>
              <th>Exercise</th>
              <th>Measurement</th>
              <th>Quantity</th>
              <th>Carbs</th>
              <th>Fat</th>
              <th>Protein</th>
            </tr>
            <% for (var i = 0; i < entry2.exercises.length; i++) { %>
              <tr>
                <td><%= entry2.exercises[i].exercise %></td>
                <td><%= entry2.exercises[i].quantity_meas %></td>
                <td><%= entry2.exercises[i].quantity_input %></td>
                <td><%= entry2.exercises[i].carbs %></td>
                <td><%= entry2.exercises[i].fat %></td>
                <td><%= entry2.exercises[i].protein %></td>
              </tr>
            <% } %>
          </table>
      </div>
    </div> <!-- container fluid -->

    <script src="../javascripts/userVis.js"></script>

  </body>
</html>
